.calc {
    width: 100%;
    height: auto;
    margin: 0;
}

.calc .header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px solid #E6E6E6;
}

.calc .header .title {
    margin-left: 1.5%;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.calc .header .hdata-tabs-tab {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-right: 6px;
    padding: 0px 10px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.calc .header .hdata-tabs-tab img {
    margin-bottom: -3px;
    margin-right: 8px;
}

.calc .header .hdata-tabs-tab-active {
    color: black;
    border-bottom: 3px solid black;
}

.calc .header .hdata-tabs-tab-right {
    float: right;
    font-size: 14px;
    color: #333;
    margin-right: 1.5%;
}

.calc .header .hdata-tabs-tab-none {
    display: none;
}

.calc .header .hdata-tabs-tab-right span:hover {
    cursor: pointer;
}

.calc .header .hdata-tabs-tab-right .hdata-tabs-tab-right-selected {
    font-weight: bold;
}

/*监控*/
.calc .Monitor {
    display: flex;
}

.calc .Monitor .left {
    width: 66%;
    height: auto;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border: 0;
}

.calc .Monitor .right {
    width: 33.5%;
    height: auto;
    margin-top: 10px;
    /*border: 1px solid black;*/
}

/*左侧*/
.Monitor .left .first {
    width: 97%;
    /*height: 150px;*/
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.Monitor .left .first .load {
    background-color: white;
    width: 33%;
    border: 1px solid #e9e9e9;
}

.Monitor .left .first .title {
    background-color: white;
    width: 65.5%;
}

.Monitor .left .second {
    height: 160px;
}

.Monitor .left .second .title {
    display: flex;
    background-color: rgb(247, 247, 247);
    justify-content: space-between;
}

.Monitor .left .second .title .item-list {
    background-color: white;
    width: 49%;
    border: 1px solid #e9e9e9;
}

/*计算机配置信息*/
.ComputerConfiguration {
    border: 1px solid #e9e9e9;
    width: 100%;
    height: 100%;
    /*display: table;*/
    margin: 0 auto;
    text-align: center;
    display: table;
}

.ComputerConfiguration .configuration {
    margin: 0 0 0 10%;
    /*width: 100%;*/
    height: 100%;
    float: left;
    text-align: left;
}

.ComputerConfiguration .configuration .font-blue {
    color: #085394;
    font-size: 16px;
    font-weight: bold;
}

.ComputerConfiguration .configuration p {
    color: #444;
    font-size: 14px;
}

.ComputerConfiguration .run-time {
    display: table-cell;
    width: 38%;
    height: 100%;
    /*float: right;*/
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    color: #085394;
    font-weight: bold;
}

.Monitor .left .table {
    text-align: left;
    width: 97%;
    margin: 10px auto;
}
.Monitor .right .item-list .panelTitle{
    border: 1px solid #e9e9e9;
    border-bottom: none;
}
.Monitor .right .item-list .mount-point-use{
    border: 1px solid #e9e9e9;
    border-top: none;
}
.Monitor .right .item-list {
    background-color: white;
    margin-bottom: 2%;
    /*border: 1px solid #e9e9e9;*/
}

.Monitor .right .item-list .store-table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

.Monitor .right .item-list .store-table table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.store-table th {
    border: 1px solid #e6e6e6;
    color: #333;
    height: 40px;
    font-weight: bold;
}

.store-table table td {
    border: 1px solid #e6e6e6;
    color: #666;
    height: 40px;
}
table.store-table table tr:first-child td{
    border-top: none;
}
.Monitor .right .item-list .pcie-table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-collapse: collapse;
}

.pcie-table th {
    border: 1px solid #e6e6e6;
    color: #333;
    height: 40px;
    font-weight: bold;
}

.pcie-table tbody td {
    border: 1px solid #e6e6e6;
    color: #666;
    height: 40px;
}

/*new history*/
history-index {
    /*width: 80%;*/
    /*text-align: left;*/
    /*margin: 0px auto;*/
}

.history-index .history-item {
    text-align: center;

}

.history-index .history-item div {
    background-color: #ffffff;
}

.history-index h3 {
    margin: 8px 0px 4px 0px;
}

history-index .table {
    width: 98%;
    height: 220px;
    margin: 25px auto;
    background-color: white;
}

.history-item .ant-table-header {
    display: block;
    margin-bottom: -17px;
}

.history-item .ant-table-header .ant-table-thead th {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #444b5b;
    color: #ffffff;
    font-size: 14px;
}

.history-item .ant-table-body {
    margin-top: -17px;
}

.ant-table-tbody tr td {
    font-size: 14px;
    color: #333;
    /*background-color: #fff;*/
}

.table .ant-table-tbody tr:hover {
    background-color: #eee;
}