table.history-tableContent {
    border-spacing: 0;
    width: 60%;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid #ccc;
    background-color: white;
}

table.history-tableContent tr {
    height: 36px;
    line-height: 30px;
    text-align: center;
}
table.history-tableContent td {
    border-bottom: 1px solid #ccc;
}
table.history-tableContent tr:last-child td {
    border-bottom: 0
}
