
html, body, #root, div .ant-layout {
    margin: 0;
    padding: 0;
}

div .ant-layout {
    overflow: auto;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 4px;
    /*height: 6px;*/
    /*background-color: red;*/
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    /*border-radius: 1px;*/
    background-color: rgb(68, 75, 91);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #aaa;
}

#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 28px 16px 0;
    float: left;
}

.logo {
    padding: 15px 0px 0px 20px;
    float: left;
}

.exit {
    margin: 0px 30px 10px 0px;
    float: right;
    font-size: 14px;
    color: #fff;
}

.ant-btn {
    margin-right: 6px
}

.ant-card-head {
    background-color: #f1f1f1;
}

.ant-card-extra {
    right: 1%
}

.work .db .dbName {
    width: 100%;
    text-align: center;
    padding: 10px 0px 8px 0px;
    font-weight: bold;
}

.work .db {
    text-align: center;
}

.work .db ul li {
    display: inline-block;
}

.work .standby {
    display: flex;
}

.work .standby .standbyleft {
    flex: 1;
    font-weight: bold;
}

.work .AddIcon {
    text-align: center;
    margin-top: 15%;
}

/*menu*/
.hdata-menu li {
    height: 42px;
    line-height: 42px;
    /*font-weight: bold;*/
    font-size: 14px;
    color: #fff;
    overflow: hidden;
    padding: 0 16px 0 24px;
    text-overflow: ellipsis;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

li a span {
    color: #fff;
    cursor: pointer;
}

li a:focus {
    text-decoration-line: none;
}

/*悬浮变色*/
.hdata-menu li:hover {
    /*color: white;*/
}

/*item-children*/
.hdata-menu .hdata-menu-item-content {
    font-weight: normal;
    font-size: 14px;
    color: #dadbde;
}

/*item-img*/
.hdata-menu-item-content img {
    padding-right: 5px;
    vertical-align: middle
}

.hdata-menu .selected {
    color: #fff;
    background: #383d4b url("../img/icon-arrow.png") no-repeat scroll right;
}

.hdata-menu .selected-title {
    background-image: url("../img/icon-arrow.png");
    background-repeat: no-repeat;
    background-position: right;
    background-repeat: no-repeat;
}

.border-top {
    border-top: 1px solid #606673;
}

.blue {
    background-color: #2b99f0;
}

.green {
    background-color: #8ac44b;
}

.orange-yellow {
    background-color: #f8873d;
}

.orange {
    background-color: #fba71a;
}

.setting-color {
    background-color: #43A9C7;
}

.panelTitle {
    /*height: 34px;*/
    /*line-height: 26px;*/
    /*padding-left: 20px;*/
    /*padding-top: 4px;*/
    /*background-color: #EFEFEF;*/
    /*font-size: 16px;*/
    /*font-weight: bold;*/
    /*color: #444;*/
    /*border-bottom: 1px solid #e9e9e9;*/
    /*text-align: left;*/

    /* height: 34px; */
    text-align: left;
    line-height: 30px;
    padding-left: 15px;
    /* padding-top: 4px; */
    background-color: #EFEFEF;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    /*border-bottom: 1px solid #e9e9e9;*/
}

/*兼容性-表格头 remove header*/
.ant-table-header {
    display: none;
}

/*密码模态框*/
.ant-modal-body label, .ant-modal-body input {
    font-size: 14px;
}

.ant-modal-header {
    border: 0
}

.ant-modal-header {
    display: none;
}

.ant-modal-footer {
    display: none;
}

.password-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.ant-modal-header .ant-modal-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.ant-form-item-required {
    /*font-size: 14px;*/
    /*font-weight: bold;*/
}

.ant-form-item-control .ant-form-explain {
    color: #FF3F00;
}

.register {
    width: 92%;
    margin: 10px auto;
}

.register .content {
    width: 100%;
    border: 1px solid #eee;
    background-color: white;
    text-align: left;
    font-size: 14px;
    margin-top: 10px;
}

.register .content .table {
    width: 100%;
    margin: 0px 0px 15px 0px;
}
.register .content .table input{
    padding-left: 8px;
}
.content .left {
    width: 10%;
    height: 40px;
    text-align: right;
    border: 0;
    padding-right: 10px;
    font-weight: bold;
}

.content .table2 {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}

.content .table2 .title {
    font-weight: bold;
    color: #333;
    background-color: #eee;
    height: 32px;
}

.content .table2 tr {
    height: 40px;
    color: #666;
}

.content .table2 td {
    border: solid 1px #ddd;
}

.content .table input {
    border: 1px solid #ddd;
}

.content .table2 input {
    width: 80%;
    height: 26px;
    border: 1px solid #ddd;
}

.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 10px 40px;
    /*margin: 20px 0px 20px 0px;*/
}

@media (min-width: 0px) and (max-width: 1400px) {
    .menu-db-content-font-size span {
        /*color: yellow;*/
        font-size: 11px;
    }
}

@media (min-width: 1400px) and (max-width: 1900px) {
    .menu-db-content-font-size span {
        /*color: green;*/
        font-size: 12px;
    }

    .blue span, .green span, .orange span, .orange-yellow span, .setting-color span {
        font-size: 15px;
    }
}

@media (min-width: 1900px) {
    .menu-db-content-font-size span {
        /*color: red;*/
        font-size: 13px;
    }

    .blue span, .green span, .orange span, .orange-yellow span, .setting-color span {
        font-size: 16px;
    }
}


