.lock {
    width: 100%;
    height: auto;
    margin: 0;
}

.lock .header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px solid #E6E6E6;
}

.lock .header .title {
    margin-left: 1.5%;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.lock .lock-content {
    width: 40%;
    margin: 1% auto;
    background-color: white;
}

.lock .lock-content .column {
    width: 100%;
    height: 30vh;
}

.rst__collapseButton {
    /*display: none;*/
}

.asm {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
}

.asm .legend-line {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.asm .legend-line .legend {
    border: 1px solid #ddd;
    width: 120px;
    height: 76px;
    /*width:auto;*/
    margin: 20px 30px 0 0;
}

.asm .legend-line .legend .legend-item {
    margin: 12px 10px 10px 15px;
    display: flex;
    /*justify-content:space-between;*/
}

.asm .details {
    /*border: 1px solid yellow;*/
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.asm .details .details-item {
    /*border: 1px solid green;*/
    font-size: 14px;
    /*font-weight: bold;*/
    text-align: center;
    margin-bottom: 120px;
}

.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
    border-right: 1px solid #ddd;
}

.cluster .ant-table-header {
    display: block;
}

.cluster table {
    width: 98%;
    /*height: 220px;*/
    margin: 25px auto;
    background-color: white;
}

.cluster .ant-table-content .ant-table-thead th {
    /*height: 22px;*/
    /*line-height: 22px;*/
    text-align: center;
    background-color: #444b5b;
    color: #ffffff;
    font-size: 14px;
}

.ant-table-tbody tr td {
    font-size: 14px;
    color: #444;
    /*background-color: #fff;*/
}

.cluster .ant-table-tbody tr:nth-child(even) {
    background-color: white;
}

.cluster .column-normal {
    background-color: #E4F3EB;
}

.cluster .column-error {
    background-color: #EA584D;
    color: #fff;
}

.cluster .column-other {
    background-color: #FCEBCB;
}

.cluster .column-colspan-title-color {
    background-color: #EBEBEB;
    border-right: solid 1px #EBEBEB;
}

.cluster .column-colspan-title {
    background-color: #EBEBEB;
    text-align: center;
    font-weight: bold;
    color: #444;
}

.ant-table-bordered .ant-table-tbody > tr .column-colspan-title-color {
    border-right: 0;
}

.ant-table-bordered .ant-table-tbody > tr .column-colspan-title {
    border-right: 0;
}

.ant-table-bordered.ant-table-small .ant-table-header > table,
.ant-table-bordered.ant-table-small .ant-table-body > table,
.ant-table-bordered.ant-table-small .ant-table-fixed-left table, .ant-table-bordered.ant-table-small .ant-table-fixed-right table {
    border: 1px solid #ddd;
    padding: 0;
}

.ant-table-small {
    border: 0;
}

/*hover */
.ant-table-tbody > tr:hover td {
    background-color: white;
}

.ant-table-tbody > tr:hover > .column-colspan-title {
    background: #EBEBEB;
}

.ant-table-tbody > tr:hover > .column-colspan-title-color {
    background: #EBEBEB;
}

.ant-table-tbody > tr:hover > .column-normal {
    background: #E4F3EB;
}

.ant-table-tbody > tr:hover > .column-error {
    background: #EA584D;
}

.ant-table-tbody > tr:hover > .column-other {
    background: #FCEBCB;
}

/**SQLFault、histroyFault    start*/
.lock table.HistoryFault tr {
    height: 36px;
}

.lock table.HistoryFault .title {
    width: 72px;
    font-weight: 900;
    font-size: 14px;
}

.ant-radio-button-wrapper {
    margin-right: 8px;
}

.ant-radio-button-wrapper-checked {
    background-color: #444b5b;
    color: white;
    border-color: white;
    box-shadow: none;
}

.ant-select, .ant-select-selection {
    font-size: 14px;
    font-weight: 600;
}

.ant-radio-button-wrapper-checked:first-child {
    border-color: white;
    border-radius: 0; /*圆角*/
}

.ant-radio-button-wrapper:last-child {
    border-radius: 0; /*圆角*/
}

.ant-radio-button-wrapper:first-child {
    border-radius: 0; /*圆角*/
}

.buttonItem {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 6px;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 4px;
    height: 28px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
}

.buttonItemSelect {
    background-color: #444b5b;
    color: white;
}

/**SQLFault、histroyFault    end*/
.ant-radio-button-wrapper:hover {
    color: #333;
}

.ant-radio-button-wrapper-checked:hover {
    border-color: #eeeeee;
    box-shadow: none;
    color: white;
}
