.lock .memory-content {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}
.lock .memory-panel {
    background-color: white;
    width: 47%;
    border: 1px solid #e9e9e9;
}

.lock .memory-content .title {
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    background-color: #EFEFEF;
    font-size: 14px;
}