.setting {
    width: 100%;
    height: auto;
    margin: 0;
}

.setting .header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px solid #E6E6E6;
}

.setting .header .title {
    margin-left: 1.5%;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.setting .header .hdata-tabs-tab {
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-right: 6px;
    padding: 0px 10px;
    position: relative;
    text-decoration: none;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.setting .header .hdata-tabs-tab img {
    margin-bottom: -3px;
    margin-right: 8px;
}

.setting .header .hdata-tabs-tab-active {
    color: black;
    border-bottom: 3px solid black;
}

/*param*/
.setting .param {
    width: 97%;
    height: 60px;
    line-height: 60px;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    color: #333;
}

.setting .param .input {
    width: 140px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    margin: 0px 0px 0px 10px;
    /*background-color: white;*/
    /*border: 1px solid #e9e9e9;*/
    font-size: 14px;
}

.setting .param .button {
    margin: 20px 0px 0px 0px;

}

/*threshold*/
.setting .threshold {
    width: 97%;
    /*height: 160px;*/
    /*line-height: 160px;*/
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border: 1px solid #e9e9e9;
    font-size: 14px;
    color: #333;
}

.setting .threshold .table {
    width: 50%;
    margin: 20px auto;
    /*border: 1px solid #eee;*/
    font-size: 14px;
}

.setting .threshold .table .title {
    font-weight: bold;
    color: #333;
    background-color: #eee;
}

.setting .threshold tr {
    height: 48px;
    color: #666;
}

.setting .threshold .table td {
    border: solid 1px #ddd;
}

/*娱乐*/
.code-box-shape {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background: #019bf0;
}
