.lock .dimensionDivSmall {
    width: 80%;
    line-height: 40px;
}

.lock .sqlanalyze-content {
    width: 100%;
    margin: 10px auto;
    border: 1px solid #e9e9e9;
    background-color: white;
    display: flex;
    justify-content: center
}

table.sqlid {
    border-collapse: collapse;
    margin: 30px;
    border-spacing: 0;
    width: 90%;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid #ccc;
    background-color: white;
}

table.sqlid tr {
    height: 36px;
    line-height: 30px;
    text-align: center;
}

table.sqlid td {
    font-weight: 400;
    border: 1px solid #ccc;
}

table.sqlid .title {
    background-color: #444b5b;
    color: white;
    font-weight: 800;
}

/**table plan*/
.lock .plan {
    margin: 30px;
    width: 70%;
    height: max-content;
}

.lock .plan .item {
    /*margin: 2% auto;*/
    border: 1px solid #e9e9e9;
}

.lock .plan .title {
    background-color: #eee;
    font-size: 16px;
    font-weight: bolder;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

table.executable {
    border-collapse: collapse;
    margin: 20px;
    border-spacing: 0;
    width: 95%;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid #ccc;
    background-color: white;
    overflow: scroll;
}

table.executable tr {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

table.executable td {
    font-weight: 600;
    border: 1px solid #ccc;
    /*text-align: left;*/
}