
.container {
    min-width: 1000px;
    padding: 15px;
}

.container .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*height: 80%;*/
    /*min-height: 500px;*/
    /*align-items:center;*/
    justify-content: space-around;

}

.footer {
    height: 20%;
    min-height: 250px;
    width: 99%;
    margin: 10px 0 0 5px;
}

.main {
    margin: 0 5px;
    width: calc(46% + 5em);
    height: 100%;
    overflow: auto;
}

.left {
    width: calc(20% + 2em);
    height: 100%;
    flex-direction: column;
    border: 1px solid #e9e9e9;
    overflow: auto;
    background-color: white;
    min-height: 574px;
}

.right {
    /*border:2px solid #e9e9e9;*/
    width: calc(20% + 3em);
    height: 100%;
    flex-direction: column;
    overflow: auto;
}

/*left*/
.left .panel {
    height: calc(100% - 35px);
    padding: 10px 0;
}

.left .panel .flex-item {
    margin-bottom: 5px;
    text-align: center;
}

/*main*/
.main .title {
    height: 34px;
    line-height: 26px;
    font-size: 12pt;
    font-weight: bold;
    padding-top: 4px;
    margin-bottom: -10px;
}

.main .flex-item {
    border: 1px solid #e9e9e9;
    background-color: white;
    margin-top: 15px;
    width: 99.9%;
    min-height: 140px;
    /*height: calc(25% + 35px); !*.title =>height*!*/
}

/*right*/
.right .io {
    background-color: white;
    border: 1px solid #e9e9e9;
    min-height: 330px;
}

.right .io .flex-item1 {
    margin: 8px 0 4px 0;
}

.right .io .flex-item3 {
    margin: 5px 0 10px 0;
}

.right .net {
    margin: 6px 0;
    background-color: white;
    border: 1px solid #e9e9e9;
    min-height: 234px;
}

.right .net .flex-item1 {
    margin: 8px 0 0 0;
}

.right .net .flex-item2 {
    margin: 0 0 8px 0;
}

.SystemUse {
    /*height: 100%;*/
    min-height: 160px;
}

.SystemUse .item-list {
    margin: 20px 15px 15px 15px;
    /*height: calc(80% - 35px);*/
    display: flex;
    /*水平方向排列方式*/
    justify-content: space-around;
    /*垂直方向排列方式*/
    align-items: center;
    /*min-height: 100px;*/
}

.SystemUse .item-list .item {
    width: 9%;
    height: 60%;
    /*margin-left: 1%;*/
    border-radius: 10px 10px 10px 10px;
    line-height: 50px;
    text-align: center;
    color: white;
}

.SystemUse .legend-list {
    /*margin-top: 1.8%;*/
    padding: 10px 0 12px 0;
    display: flex;
    /*水平方向排列方式*/
    justify-content: center;
    /*垂直方向排列方式*/
    align-items: center;
}

.SystemUse .legend-list .item {
    /*width:20%;*/
    min-width: 150px;
    font: 12px 微软雅黑;
    color: #444;
    font: 12px bold;

}

.SystemUse .legend-list .line {
    width: 15%;
    height: 8px;
    float: left;
    margin: 4px 5px 0 0;
}

.main .flex-item-group {
    /*border:2px solid #e9e9e9;*/
    /*background-color: white;*/
    margin-top: 15px;
    width: 99.9%;
    /*height: calc(25% + 35px); !*.title =>height*!*/
    height: 170px; /*.title =>height*/

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .flex-item-group .group {
    width: 49%;
    border: 1px solid #e9e9e9;
    background-color: white;
}

.main .flex-item-group .group .echartsLine {
    padding: 10px 0;
}

/*日志搜索*/
.ant-advanced-search-form .ant-form-item {
    margin-bottom: 0px;
}

.searchForm {
    background-color: #EFEFEF;
    height: 35px;
    border: solid 1px #ddd;
    border-bottom: none;
}

/*.searchForm .datePicker {*/
/*display: inline-block;*/
/*font-size: 14px;*/
/*font-weight: bold;*/
/*margin: 6px 0px 0px 20px;*/
/*!*width: 60px;*!*/
/*height: 100%;*/
/*color: orange;*/
/*}*/
.searchForm .log {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 6px 0px 0px 20px;
    width: 15%;
    height: 100%;
}

.searchForm .clear-log {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 6px 0px 0px 20px;
    width: 80%;
    height: 100%;
    color: #085394;
    text-align: right;
}
.searchForm .clear-log span{
    cursor:pointer;
}

.ant-calendar-picker-icon {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s;
    width: 17px;
    height: 17px;
    line-height: 12px;
    right: 8px;
    color: rgba(0, 0, 0, 0.43);
    top: 50%;
    margin-top: -6px;
    /*background-image: url("../img/icon-date.png");*/
}

.ant-table-tbody {
    text-align: center;
    font-size: 14px;
    /*font-weight: bold;*/
}

.ant-table-tbody tr:nth-child(even) {
    background-color: #EFEFEF;
}

.hdata-menu li:nth-child(2n+2), .hdata-menu li:nth-child(2n+3) {
    border-top: 1px solid #606673;
}
